{% extends 'app/base.html' %}
<!DOCTYPE html>
{% block body_block %}
<img class="hero-unit">
    <h3>Account Details</h3>


{% if user.is_authenticated %}
    <h4><p>Welcome {{ user.username }}, following are your account details:</p></h4>
    <br>
    <br>
    <p>Name: {{ user.first_name }}</p>
    </img src="{{ user.picture.url }}">
    <p>Username: {{ user.username }}</p>
    <p>Email ID: {{ user.email }}</p>
    <p>Last login: {{ user.last_login }}</p>
    <p><a href="{{ "/"}}timeline">View my Timeline!</a></p>


{% else %}
    <p>Welcome, new user. Please log in!</p>
{% endif %}
  <a href="/">Return to the homepage</a><br />
</div>
{% endblock %}