{% extends 'app/base.html' %}
<!DOCTYPE html>
{% block body_block %}
<section id="sp-main-body"><div class="container"><div class="row"><div id="sp-component" class="col-sm-12 col-md-12"><div class="sp-column "><div id="system-message-container">
</div>

    <link href="https://shapebootstrap.net/templates/default/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="https://shapebootstrap.net/templates/default/css/shapebootstrap.icon.css" rel="stylesheet" type="text/css"/>
<link href="https://shapebootstrap.net/templates/default/css/template.css" rel="stylesheet" type="text/css"/>
<link href="https://shapebootstrap.net/templates/default/css/presets/preset1.css" rel="stylesheet" type="text/css" class="preset"/>
<div class="row">
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<div class="page-login-form box login">
<div class="login-description text-center">
Please provide your details
</div>
    <form class="form-validate" id="forgot_username" method="post" action="/forgotusername/">
        {% csrf_token %}

        {% if bad_details %}
        <p><strong>The email address you entered is not registered with us! Please enter a registered email address</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Trend!t account is currently disabled; we can't log you in!</strong></p>
        {% endif %}
        <div class="form-group">
        <div class="group-control">
        <input type="text" class="input-block-level" placeholder="Email" name="email" value="" size="50" />
        <br />
            </div></div>

        <div class="form-group text-right">
        <button type="submit" class="btn btn-success btn-lg btn-block btn-login">Send Email</button>
        </div>
    </form>
<div class="form-links">
<ul>
<li>
    <a href="/">Home
</a>
</li>
</ul>

</div>
</div>
</div></div></div></div></div></div></section>
{% endblock %}