<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css?v=3">

    <title>User Login - Color-Hex.com</title>


  </head>

<body>

    <a name="top"></a>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="container">
          <div class="topheader">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="http://www.color-hex.com/">
                <img src="/logo@2x.png" alt="Color Hex" width="118" height="40">
            </a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">

            <form class="navbar-form navbar-left" action="/colorinfo.php" id="colorinfo">
                <div class="form-group">

          <input type="text" class="form-control" name="colorvalue" id="colorvalue" value="" maxlength="21" placeholder="color hex, name, rgb, hsl or hsv" title="Examples: blue, ff0000, rgb 255 128 128, hsl(0, 75%, 64%), hsv 0, 100%, 34%">
    <input type="hidden" name="color" id="colorpick" value="000000" style="display: none;"><div class="sp-replacer sp-light"><div class="sp-preview"><div class="sp-preview-inner" style="background-color: rgb(0, 0, 0);"></div></div><div class="sp-dd">▼</div></div>

        <button type="submit" class="btn btn-default">Get Info</button>
        </div>
            </form>

            <ul class="nav navbar-nav">

              <li><a href="/blog" title="Blog">Blog</a></li>
              <li><a href="/color-palettes/" title="Latest Color Palettes"><span class="glyphicon glyphicon-tint"></span> Latest Palettes</a></li>
            </ul>

          <ul class="nav navbar-nav  navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Palettes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">

                <li>
                    <a href="/color-palettes/popular.php" title="Popular Color Palettes"><span class="glyphicon glyphicon-star"></span> Popular Palettes</a>
                </li>
                <li>
                    <a href="/color-palettes/top-contributors.php" title="Top Contributors"><span class="glyphicon glyphicon-user"></span> Top Contributors</a>
                </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/user/add-palette.php" title="Add New Palette"><span class="glyphicon glyphicon-plus"></span> Add New Palette</a>
                </li>
                  </ul>
            </li>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Colors <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                        <li><a href="/popular-colors.php" title="Popular Colors"><span class="glyphicon glyphicon-star"></span> Popular Colors</a></li>
                        <li><a href="/color-names.html" title="Color Names"><span class="glyphicon glyphicon-chevron-right"></span> Color Names</a></li>
                        <li><a href="/216-web-safe-colors/" title="216 Web safe colors"><span class="glyphicon glyphicon-chevron-right"></span> Web Safe Colors</a></li>
                        <li class="divider"></li>
                        <li><a href="/random.php" title="Random colors"><span class="glyphicon glyphicon-chevron-right"></span> Random Colors</a></li>
                        <li><a href="/color-wheel/" title="Color Wheel"><span class="glyphicon glyphicon-chevron-right"></span> Color Wheel</a></li>
              </ul>
            </li>


            <li><a href="/user/login.php" title="Login"><span class="glyphicon glyphicon-user"></span> Login</a></li>

                      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
    <div class="container">

      <div class="content">

          <div class="logindiv">
          <h3>User Login</h3>

        <div class="alert alert-danger" style="display:none;">
        </div>
        <div class="alert alert-success" style="display:none;">
        </div>

        <form role="form" name="frmLogin" id="frmLogin" action="" class="userfrm" method="POST">

            <div class="form-group">
                <label for="username">Email or Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Email or Username" autofocus="" required="">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="">
            </div>

            <input type="hidden" name="formaction" value="login">
            <input type="hidden" name="csrf_token" value="14225d8a2879a0a4101c7b5e1516bd40">

            <button type="submit" id="btnSubmit" class="btn btn-primary">Sign In</button>
                    <img class="loading" src="../img/loading.gif" alt="Loading..." style="display: none;">
                    <a href="forgot-password.php" title="Cannot Sign in"> Cannot Sign in?</a>

        </form>
          <br>
<p>Don't have an account? <a href="/user/register.php" title="Register">Register now!</a></p>

        </div>
        <br>

      </div>

    </div>


<div class="footer">
    <div class="row">
        <div class="col-md-12">
             <a href="http://www.color-hex.com/help.php" title="Help">Help</a> |
    <a href="http://www.color-hex.com/credits.php" title="Credits">Credits</a> |
    <a href="http://www.color-hex.com/privacy.php" title="Privacy">Privacy</a> |
    <a href="https://market.android.com/details?id=com.colorhex" rel="nofollow" target="_blank" title="Color Hex Android App Free">Android App</a> |
    <a href="http://www.color-hex.com/contact.php" title="Contact Us">Contact Us</a> |
				<a href="https://twitter.com/ColorHex" title="Color Hex on Twitter">@ColorHex</a>
   <br>
    <span>© 2010-2016 www.Color-Hex.com</span>
        </div>
    </div>
</div>
<div class="gototop rounded" id="scrollUp">
    <a href="#top" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span> </a>
</div>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/spectrum.js" type="text/javascript"></script>

 <script>
        $(document).ready(function() {

            $("#colorpick").spectrum({
                showInitial: true,
                showInput: true,
                showButtons: true,
                preferredFormat: "hex6",
                change: function(color) {
                    var selectedcolor = color.toHex();
                    $("#colorvalue").val(selectedcolor);
                    $("#colorpick").val(selectedcolor);
                },

                move: function(color) {
                    var selectedcolor = color.toHex();
                    $("#colorvalue").val(selectedcolor);
                    $("#colorpick").val(selectedcolor);
                }
            });

            $('#colorvalue').keyup(function(e) {
                $("#colorpick").spectrum("set", $("#colorvalue").val());
            });
$(window).scroll(function(){
   if( $(document).scrollTop() > 50 ) {
      $('#scrollUp').fadeIn();
   } else {
      $('#scrollUp').fadeOut();
   }
});

$(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top-60
                        }, 1000);
                        return false;
                    }
                }
            });
        });


var form = $('#frmcomment');
  var submit = $('#sendcomment');

  form.on('submit', function(e) {
        e.preventDefault();

     var commentstr = document.getElementById('commentText').value.trim();
     if(commentstr === "")
        {
            return false;
        }

    $.ajax({
      url: '/adct.php',
      type: 'POST',
      cache: false,
      data: form.serialize(),
      beforeSend: function(){
        submit.attr('disabled', 'disabled');
      },
      success: function(data){

        form.trigger('reset');
        submit.removeAttr('disabled');

        $('#commentmessage').removeClass('alert-success').removeClass('alert-danger').addClass('alert-success').html('Your comment send successfully.').slideDown('slow').delay(5000).slideUp();

      },
      error: function(e){
        $('#commentmessage').removeClass('alert-success').removeClass('alert-danger').addClass('alert-danger').html('There was an error, try again later.').slideDown('slow').delay(5000).slideUp();

      }
    });
  });

        });

 function validate(inputvl)
 {
    var searchkeyword = document.getElementById(inputvl).value.trim();
    if(searchkeyword === "")
        {
            return false;
        }
}
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-7546112-16', 'auto');
  ga('send', 'pageview');

</script>


  <script type="text/javascript">
    $(document).ready(function(){
        $(".alert").hide();
        $(".loading").hide();

        $("#frmLogin").submit( function (event) {
            $(".alert").slideUp();
            $(".loading").show();
            $("#btnSubmit").html('Loading...');
            $('#btnSubmit').attr('disabled', 'disabled');

            event.preventDefault();

            $.post(
            'check.php',
            $(this).serialize(),
            function(data){
                var json = $.parseJSON(data);
                $(".loading").hide();
                // $('#frmLogin input').attr('enabled', 'enabled');

                if(json.success==true) {
                    $("#frmLogin").slideUp("slow");
                    $('.alert-success').html(json.message);
                    $(".alert-success").slideDown();

                    setTimeout(function() {
location.href = json.redirecturl;
                                            }, 2400);
                                        }
                                        else {
                                            $('#btnSubmit').removeAttr('disabled');
                                            $("#btnSubmit").html('Sign In');
                                            $("#username").select();
                                            $('.alert-danger').html(json.message);
                                            $(".alert-danger").slideDown("slow");
                                        }
                                    }

                                );
                                    return false;
                                });
                            });
</script>



<div class="sp-container sp-light sp-palette-disabled" style="display: none;">
    <div class="sp-palette-container">
        <div class="sp-palette sp-thumb sp-cf"></div></div>
    <div class="sp-picker-container">
        <div class="sp-top sp-cf">
            <div class="sp-fill"></div>
            <div class="sp-top-inner">
                <div class="sp-color" style="background-color: rgb(255, 0, 0);">
                    <div class="sp-sat"><div class="sp-val">
                        <div class="sp-dragger" style="top: 0px; left: 0px;"></div>
                    </div>
                    </div>
                </div>
                <div class="sp-hue">
                    <div class="sp-slider" style="top: 0px;"></div>
                </div>
            </div>
            <div class="sp-alpha">
                <div class="sp-alpha-inner">
                    <div class="sp-alpha-handle" style="left: 0px;"></div>
                </div>
            </div>
        </div>
        <div class="sp-input-container sp-cf">
            <input class="sp-input" type="text" spellcheck="false">
        </div><div class="sp-initial sp-thumb sp-cf">
        <div class="sp-cf sp-palette-row-initial">
            <span title="#000" data-color="rgb(0, 0, 0)" class="sp-thumb-el sp-thumb-dark">
                <span class="sp-thumb-inner" style="background-color:rgb(0, 0, 0);"></span>
            </span>
            <span title="#000" data-color="rgb(0, 0, 0)" class="sp-thumb-el sp-thumb-dark sp-thumb-active">
            <span class="sp-thumb-inner" style="background-color:rgb(0, 0, 0);"></span>
            </span>
</div>
</div>
    <div class="sp-button-container sp-cf">
    <a class="sp-cancel" href="#">cancel</a>
    <button class="sp-choose">choose</button>
</div>
</div>
</div>
</body>

