{#{% load url from future %}#}
{% extends 'app/base.html' %}
{% block body_block %}


<!-- Threads  -->
{% if topics|length == 0 %}
<div align="center"> <h2 align="center" class="">No discussions on #<strong>{{ searchterm|cut:"%23"|cut:"%20" | cut:"#" }}</strong></h2>
    <h3><a id="new_topic" class="button" href="{% url 'new-topic' pk %}?searchterm={{ searchterm|urlencode }}">Good time to start one! To begin discussion on <strong>{{ searchterm|cut:"%23"|cut:"%20" | cut:"#" }}</strong> click here!</a></h3></div>
    <br>
{#    <h3>If not, well following are some recently discussed topics:</h3>#}
    <form id="cref" name="cref" action="django_simple_forum/new-topic.html" method="get">  <div class="panel-heading" align="right" id="second-div" style="float: right; width: 50%;"><b>
            </b></div></form>
{% endif %}
    {% if topics|length > 0 %}
<div align="center"> <h2 align="center" class="">Found {{ topics|length }} discussions on #<strong>{{ searchterm|cut:"%23"|cut:"%20" | cut:"#" }}</strong></h2>
    <h4 style="color: #1da1f2">Select a topic to begin with discussion on #<strong>{{ searchterm|cut:"%23"|cut:"%20" | cut:"#" }}</strong></h4></div>


<br />
<br />

<div id="list">
<table border="0" cellpadding="4" width="100%">
    <tr>
        <td>Topics</td>
        <td>Discussion count</td>
{#        <td>Last post</td>#}
        <td>Last updated</td>
    </tr>

    {% for topic in topics.object_list %}

    <tr>
{#    {%  if topic.title == "random" %}#}
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url 'topic-detail' topic.pk %}">{{ topic.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ topic.num_replies }}</td>
{#        <td {% if forloop.last %}class="last"{% endif %}>#}
{#            {{ topic.last_post.short|linebreaksbr }}</td>#}
        <td {% if forloop.last %}class="last"{% endif %}>{{ topic.last_post.created }}
{#            <a class="button" href="{% url 'topic-detail' topic.pk %}">VIEW</a>#}
        </td>
    </tr>

    {% endfor %}

</table>
</div>

<!-- Next/Prev page links  -->
{% if topics.object_list and topics.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
            <a href= "?page={{ topics.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ topics.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endif %}

{% endblock %}